@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: normal;
}
.content {
    font-size: 18px;
}
header h1 {
    margin: 0 auto;
    display: block;
}
header {
    font-family: 'Merriweather', serif;

    flex-flow: row wrap;
    margin: 16px 0;
    text-align: center;

    justify-content: center;
    align-items: center;
}
header nav {
    margin: 0 auto;
    flex-flow: inherit;
    text-align: center;
    justify-content: center;
}
header nav ul li {
    list-style: none;
    line-height: 30px;
    display: inline;
}
header nav ul li a {
    text-decoration: none;
    color: inherit;
}
header nav ul li span {
    color: #BFBFBF;
    font-weight: 700;
}
hr {
    width: 80%;
    margin: 32px auto;
}

/* HERO IMAGE*/
.hero {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/client/img/coffee-and-cake-near-book.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-inner .catch {
    color: white;
    font-size: 45px;
    margin-bottom: 25px;
}
.hero-inner .btn {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid white;
    padding: 5px;
    margin-top: 100px;
}
.hero-inner .btn:hover {
    color: #BFBFBF;
}

/* Main Section */
main {
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (min-width: 700px) {
    header {
        display: flex;
    }
    header h1 {
        margin: 0 auto;
    }
}
section {
    width: 80%;
    margin: 0 auto;
}

/* About Section */

h2 {
    margin: 0 auto;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 26px;
}
#about .table {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    column-gap: 5%;
    width: 100%;
}
#about .table * {

}
#about .table .content p {
    margin: 32px 0;
}
#about .table img {
    width: 100%;
    height: auto;
    order: -1;
    margin-top: 32px;
}
@media (min-width: 700px) {
    #about .table {
        grid-template-columns: 50% 40%;
        grid-template-rows: auto;
        column-gap: 5%;
    }
    #about .table img {
        order: 0;
    }
}

/* Opening Times */
table tr td {
    
}
#open .wrapper {
    height: 600px;
}
#open {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
#open img {
    padding: 0px !important;
    background-position: 50% 50% !important;
    display: none;

    width: 100%;
    height: 100%;
}
#open .left {
    background-repeat: no-repeat !important;
    background-image: url('/client/img/close-up-of-coffee-cup-on-table.jpg');
    background-size: cover !important; 
}
#open .right {
    background-repeat: no-repeat !important;
    background-image: url('/client/img/close-up-of-served-food-on-table.jpg');
    background-size: cover !important; 
}
@media (min-width: 700px) {
    #open {
        grid-template-columns: 20% auto 20%;
    }
    #open .left, #open .right {
        display: inline-block;
    }
    #open img {
    }
    #open .left {
        order: -1;
    }
    #open .right { 
        order: 1;
    }
}